<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>ndggd.Component package &#8212; dunendggd_doc 1.0.0 documentation</title>
    
    <link rel="stylesheet" href="_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '1.0.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
   
  <link rel="stylesheet" href="_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body role="document">
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="ndggd-component-package">
<h1>ndggd.Component package<a class="headerlink" href="#ndggd-component-package" title="Permalink to this headline">¶</a></h1>
<div class="section" id="submodules">
<h2>Submodules<a class="headerlink" href="#submodules" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-ndggd.Component.ComplexPlane">
<span id="ndggd-component-complexplane-module"></span><h2>ndggd.Component.ComplexPlane module<a class="headerlink" href="#module-ndggd.Component.ComplexPlane" title="Permalink to this headline">¶</a></h2>
<p>Subbulder of STTBuilder</p>
<dl class="class">
<dt id="ndggd.Component.ComplexPlane.STPlaneBuilder">
<em class="property">class </em><code class="descclassname">ndggd.Component.ComplexPlane.</code><code class="descname">STPlaneBuilder</code><span class="sig-paren">(</span><em>name</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/ComplexPlane.html#STPlaneBuilder"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.ComplexPlane.STPlaneBuilder" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <code class="xref py py-class docutils literal"><span class="pre">gegede.builder.Builder</span></code></p>
<dl class="method">
<dt id="ndggd.Component.ComplexPlane.STPlaneBuilder.configure">
<code class="descname">configure</code><span class="sig-paren">(</span><em>nTubesPerPlane=None</em>, <em>stPlaneMat=None</em>, <em>**kwds</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/ComplexPlane.html#STPlaneBuilder.configure"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.ComplexPlane.STPlaneBuilder.configure" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="method">
<dt id="ndggd.Component.ComplexPlane.STPlaneBuilder.construct">
<code class="descname">construct</code><span class="sig-paren">(</span><em>geom</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/ComplexPlane.html#STPlaneBuilder.construct"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.ComplexPlane.STPlaneBuilder.construct" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</dd></dl>

</div>
<div class="section" id="module-ndggd.Component.Plane">
<span id="ndggd-component-plane-module"></span><h2>ndggd.Component.Plane module<a class="headerlink" href="#module-ndggd.Component.Plane" title="Permalink to this headline">¶</a></h2>
<p>Subbuilder of ECALBuilder</p>
<dl class="class">
<dt id="ndggd.Component.Plane.SBPlaneBuilder">
<em class="property">class </em><code class="descclassname">ndggd.Component.Plane.</code><code class="descname">SBPlaneBuilder</code><span class="sig-paren">(</span><em>name</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/Plane.html#SBPlaneBuilder"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.Plane.SBPlaneBuilder" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <code class="xref py py-class docutils literal"><span class="pre">gegede.builder.Builder</span></code></p>
<dl class="method">
<dt id="ndggd.Component.Plane.SBPlaneBuilder.configure">
<code class="descname">configure</code><span class="sig-paren">(</span><em>ScintBarDim=None</em>, <em>SBPlaneMat=None</em>, <em>nScintBars=None</em>, <em>ScintBarMat=None</em>, <em>**kwds</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/Plane.html#SBPlaneBuilder.configure"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.Plane.SBPlaneBuilder.configure" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="method">
<dt id="ndggd.Component.Plane.SBPlaneBuilder.construct">
<code class="descname">construct</code><span class="sig-paren">(</span><em>geom</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/Plane.html#SBPlaneBuilder.construct"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.Plane.SBPlaneBuilder.construct" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</dd></dl>

</div>
<div class="section" id="module-ndggd.Component.RPCMod">
<span id="ndggd-component-rpcmod-module"></span><h2>ndggd.Component.RPCMod module<a class="headerlink" href="#module-ndggd.Component.RPCMod" title="Permalink to this headline">¶</a></h2>
<p>Subbuilder of RPCTray*Builder</p>
<dl class="class">
<dt id="ndggd.Component.RPCMod.RPCModBuilder">
<em class="property">class </em><code class="descclassname">ndggd.Component.RPCMod.</code><code class="descname">RPCModBuilder</code><span class="sig-paren">(</span><em>name</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/RPCMod.html#RPCModBuilder"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.RPCMod.RPCModBuilder" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <code class="xref py py-class docutils literal"><span class="pre">gegede.builder.Builder</span></code></p>
<p>Build the RPC modules, the effective unit of the MuID, 
constituting an X and Y plane of RPC strips</p>
<dl class="method">
<dt id="ndggd.Component.RPCMod.RPCModBuilder.configure">
<code class="descname">configure</code><span class="sig-paren">(</span><em>resiplateDim=None</em>, <em>stripxDim=None</em>, <em>stripyDim=None</em>, <em>rpcModDim=None</em>, <em>gas_gap=None</em>, <em>**kwds</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/RPCMod.html#RPCModBuilder.configure"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.RPCMod.RPCModBuilder.configure" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="method">
<dt id="ndggd.Component.RPCMod.RPCModBuilder.construct">
<code class="descname">construct</code><span class="sig-paren">(</span><em>geom</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/RPCMod.html#RPCModBuilder.construct"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.RPCMod.RPCModBuilder.construct" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</dd></dl>

</div>
<div class="section" id="module-ndggd.Component.RPCTray">
<span id="ndggd-component-rpctray-module"></span><h2>ndggd.Component.RPCTray module<a class="headerlink" href="#module-ndggd.Component.RPCTray" title="Permalink to this headline">¶</a></h2>
<p>Subbuilder of MuID*Builder</p>
<dl class="class">
<dt id="ndggd.Component.RPCTray.RPCTrayBuilder">
<em class="property">class </em><code class="descclassname">ndggd.Component.RPCTray.</code><code class="descname">RPCTrayBuilder</code><span class="sig-paren">(</span><em>name</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/RPCTray.html#RPCTrayBuilder"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.RPCTray.RPCTrayBuilder" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <code class="xref py py-class docutils literal"><span class="pre">gegede.builder.Builder</span></code></p>
<p>Arrange the RPC modules in configured way</p>
<dl class="method">
<dt id="ndggd.Component.RPCTray.RPCTrayBuilder.configure">
<code class="descname">configure</code><span class="sig-paren">(</span><em>rpcTrayDim=None</em>, <em>rpcTrayMat='Air'</em>, <em>nrpcCol=None</em>, <em>nrpcRow=None</em>, <em>**kwds</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/RPCTray.html#RPCTrayBuilder.configure"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.RPCTray.RPCTrayBuilder.configure" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="method">
<dt id="ndggd.Component.RPCTray.RPCTrayBuilder.construct">
<code class="descname">construct</code><span class="sig-paren">(</span><em>geom</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/RPCTray.html#RPCTrayBuilder.construct"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.RPCTray.RPCTrayBuilder.construct" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</dd></dl>

</div>
<div class="section" id="module-ndggd.Component.SimplePlane">
<span id="ndggd-component-simpleplane-module"></span><h2>ndggd.Component.SimplePlane module<a class="headerlink" href="#module-ndggd.Component.SimplePlane" title="Permalink to this headline">¶</a></h2>
<dl class="class">
<dt id="ndggd.Component.SimplePlane.SimplePlaneBuilder">
<em class="property">class </em><code class="descclassname">ndggd.Component.SimplePlane.</code><code class="descname">SimplePlaneBuilder</code><span class="sig-paren">(</span><em>name</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/SimplePlane.html#SimplePlaneBuilder"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.SimplePlane.SimplePlaneBuilder" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <code class="xref py py-class docutils literal"><span class="pre">gegede.builder.Builder</span></code></p>
<dl class="method">
<dt id="ndggd.Component.SimplePlane.SimplePlaneBuilder.configure">
<code class="descname">configure</code><span class="sig-paren">(</span><em>compDimension=None</em>, <em>compMaterial=None</em>, <em>compNElements=None</em>, <em>compInsideGap=None</em>, <em>compTranspV=None</em>, <em>compRotation=None</em>, <em>**kwds</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/SimplePlane.html#SimplePlaneBuilder.configure"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.SimplePlane.SimplePlaneBuilder.configure" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="method">
<dt id="ndggd.Component.SimplePlane.SimplePlaneBuilder.construct">
<code class="descname">construct</code><span class="sig-paren">(</span><em>geom</em><span class="sig-paren">)</span><a class="reference internal" href="_modules/ndggd/Component/SimplePlane.html#SimplePlaneBuilder.construct"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#ndggd.Component.SimplePlane.SimplePlaneBuilder.construct" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</dd></dl>

</div>
<div class="section" id="module-ndggd.Component">
<span id="module-contents"></span><h2>Module contents<a class="headerlink" href="#module-ndggd.Component" title="Permalink to this headline">¶</a></h2>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">ndggd.Component package</a><ul>
<li><a class="reference internal" href="#submodules">Submodules</a></li>
<li><a class="reference internal" href="#module-ndggd.Component.ComplexPlane">ndggd.Component.ComplexPlane module</a></li>
<li><a class="reference internal" href="#module-ndggd.Component.Plane">ndggd.Component.Plane module</a></li>
<li><a class="reference internal" href="#module-ndggd.Component.RPCMod">ndggd.Component.RPCMod module</a></li>
<li><a class="reference internal" href="#module-ndggd.Component.RPCTray">ndggd.Component.RPCTray module</a></li>
<li><a class="reference internal" href="#module-ndggd.Component.SimplePlane">ndggd.Component.SimplePlane module</a></li>
<li><a class="reference internal" href="#module-ndggd.Component">Module contents</a></li>
</ul>
</li>
</ul>
<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="index.html">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="_sources/ndggd.Component.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Jose Palomino, Guang Yang.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.5.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.9</a>
      
      |
      <a href="_sources/ndggd.Component.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>